<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Catalog System</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <h1> Fill in the information below to create a question!</h1>
        <!-- Create question form -->
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="uniqueID">Unique ID</label>
                <input type="text" class="form-control" id="uniqueID">
            </div>
            <div class="form-group">
                <label for="course">Course</label>
                <input type="text" class="form-control" id="course">
            </div>
            <div class="form-group">
                <label for="topics">Topics</label>
                <input type="text" class="form-control" id="topics">
            </div>
            <div class="form-group">
                <label for="diff">Difficulty</label>
                <select multiple class="form-control" id="diff">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sample_solution">Sample Solution</label>
                <input type="file" class="form-control-file" id="sample_solution">
            </div>
            <div class="form-group">
                <label for="version">Version</label>
                <input type="text" class="form-control" id="version">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author">
            </div>
            <button type="reset" class="btn btn-primary" onclick="handleClick()">Submit</button>
        </form>
    </div>
</body>
</html>