<!DOCTYPE html>
<html>

<head>
    <title>View Question</title>

    <!-- Bootstrap and Angular included tags -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" ng-app="myApp">
        <div class="row">
            <h1><b>Question</b>: human_readable_id <b>Version</b>: version</h1>
        </div>
        <div class="row">
            <h2><b>Author</b>: author <b>Course</b>: course</h2>
        </div>
        <hr>
        <br>
        <div class="row">
            <div>
                <p>Name</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu semper arcu, id porttitor lorem.
                    Quisque et nunc at eros molestie semper. Duis mollis ultrices urna, et hendrerit felis aliquam sit
                    amet. Cras ac varius ante. Nullam lobortis augue nunc, non vulputate tortor blandit in. Curabitur a
                    tincidunt augue, ac pellentesque dui. Integer nec massa purus. Nullam vitae odio justo. Aliquam
                    erat volutpat.</p>
                <p>Instructions</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu semper arcu, id porttitor lorem.
                    Quisque et nunc at eros molestie semper. Duis mollis ultrices urna, et hendrerit felis aliquam sit
                    amet. Cras ac varius ante. Nullam lobortis augue nunc, non vulputate tortor blandit in. Curabitur a
                    tincidunt augue, ac pellentesque dui. Integer nec massa purus. Nullam vitae odio justo. Aliquam
                    erat volutpat.</p>
            </div>
            <br>
            <div>
                <p>Topics</p>
                <div ng-controller="topics">
                    <ol>
                        <li ng-repeat="topic in showTopics">
                            [[topic]]
                        </li>
                    </ol>
                    <button id="showButton" ng-click="showAllTopics()">Show All</button>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <script>
        var myApp = angular.module('myApp', [], function ($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

        myApp.controller('topics', function ($scope) {
            $scope.allTopics = ['For Loops', 'Algorithms', 'If-Then', 'Automata', 'Data Structures', 'Cats', 'Dogs'];
            $scope.showTopics = $scope.allTopics.slice(0, 5);

            $scope.showAllTopics = function () {

                if ($scope.showTopics.length == $scope.allTopics.length) {
                    $scope.showTopics = $scope.allTopics.slice(0, 5)
                    document.getElementById('showButton').innerHTML = "Show More";

                } else {
                    $scope.showTopics = $scope.allTopics;
                    document.getElementById('showButton').innerHTML = "Show Less";
                }
            }
        });
    </script>
</body>

</html>